<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Document</title>
  </head>
  <body>
    <h1>Upload File</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Upload File" />
    </form>

    {% if saved_data %}
      <h1>Upload successful: {{ saved_data.file.url }}</h1>
      <h1>File Description: {{ saved_data.description }}</h1>
    {% endif %}
  </body>
</html>
